#crontab file
#launches every script every ten minutes
SHELL=/bin/bash

*/10 * * * * sudo -s && bash /home/etud/Documents/GitHub/SAE23/recup_capteurs
*/10 * * * * sudo -s && bash /home/etud/Documents/GitHub/SAE23/e105_data_extraction
*/10 * * * * sudo -s && bash /home/etud/Documents/GitHub/SAE23/e003_data_extraction
*/10 * * * * sudo -s && bash /home/etud/Documents/GitHub/SAE23/b002_data_extraction
*/10 * * * * sudo -s && bash /home/etud/Documents/GitHub/SAE23/b105_data_extraction

