/*Présentation du tableau*/

table, th, td {
  	border: 1px solid black;
	font-family: Lexend;
}

table{
	border-collapse: collapse;
	margin-left: 50px;
	margin-right: 50px;
	margin-bottom: 20px;
	margin-top: 20px;
}

.titre {
	background-color: rgb(87, 86, 86);
	color: white;
	font-size: 1.1em;
}

td {
	text-align: left;
	padding: 5px;
}

tr:not(.titre) {		/*Les éléments de classe .titre sont exclus*/
	text-align: left;
	background-color: white;
}

tr:not(.titre):hover {
	background-color: grey;
	color: white;
}

th:not(.titre) {
	padding: 10px;
}

caption {
	padding: 5px;
	font-size: 20px;
}

h1 {
	padding-left: 75px;
	padding-right: 75px;
	padding-top: 30px;
	padding-bottom: 20px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-family: Lexend;
}

h2 {
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 10px;
	padding-bottom: 5px;
	font-family: Lexend;
}

h3 {
	padding-left: 60px;
	padding-right: 60px;
	font-family: Lexend;
}

p {
	padding-left: 50px;
	padding-right: 50px;
	font-family: Lexend;
}

section {
	padding-top: 10px;
	padding-bottom: 10px;
}

li {
	margin-left: 60px;
	font-family: Lexend;
}

form {
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 20px;
	font-family: Lexend;
}

fieldset {
	margin-top: 10px;
	margin-bottom: 10px;
}

legend {
	font-size: 20px;
	padding: 10px;
}

strong {
	font-size: 18px;
}

hr {
	margin-top: 40px;
}

img {
	max-width: 100%;
}

.outils {
	display: flex;
	flex-direction: row;
	vertical-align: center;
	justify-content: space-around;
	align-items: center;
}

.outils p {
	width: 30%;
}

.outils figure {
	padding-top: 20px;
	padding-bottom: 20px;
	max-width: 50%;
	float: right;
}

.calendrier {
	padding: 30px;
}

figcaption {
	font-style: italic;
	font-size: 15px;
	text-align: center;
	font-family: Lexend;
}

/*Présentation du footer*/

footer {
	bottom : 0;
	margin-top: 20px;
}

